soap_client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.example.org/" name="ProductWs">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.example.org/" schemaLocation="http://localhost:8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="getproductList">
<part name="parameters" element="tns:getproductList"/>
</message>
<message name="getproductListResponse">
<part name="parameters" element="tns:getproductListResponse"/>
</message>
<message name="DeleteProduct">
<part name="parameters" element="tns:DeleteProduct"/>
</message>
<message name="DeleteProductResponse">
<part name="parameters" element="tns:DeleteProductResponse"/>
</message>
<message name="sellingPrice">
<part name="parameters" element="tns:sellingPrice"/>
</message>
<message name="sellingPriceResponse">
<part name="parameters" element="tns:sellingPriceResponse"/>
</message>
<message name="productList">
<part name="parameters" element="tns:productList"/>
</message>
<message name="productListResponse">
<part name="parameters" element="tns:productListResponse"/>
</message>
<message name="EditProduct">
<part name="parameters" element="tns:EditProduct"/>
</message>
<message name="EditProductResponse">
<part name="parameters" element="tns:EditProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<portType name="ProductWebService">
<operation name="getproductList">
<input wsam:Action="http://webservice.example.org/ProductWebService/getproductListRequest" message="tns:getproductList"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/getproductListResponse" message="tns:getproductListResponse"/>
</operation>
<operation name="DeleteProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/DeleteProductRequest" message="tns:DeleteProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/DeleteProductResponse" message="tns:DeleteProductResponse"/>
</operation>
<operation name="sellingPrice">
<input wsam:Action="http://webservice.example.org/ProductWebService/sellingPriceRequest" message="tns:sellingPrice"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/sellingPriceResponse" message="tns:sellingPriceResponse"/>
</operation>
<operation name="productList">
<input wsam:Action="http://webservice.example.org/ProductWebService/productListRequest" message="tns:productList"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/productListResponse" message="tns:productListResponse"/>
</operation>
<operation name="EditProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/EditProductRequest" message="tns:EditProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/EditProductResponse" message="tns:EditProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/getProductResponse" message="tns:getProductResponse"/>
</operation>
</portType>
<binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getproductList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellingPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWs">
<port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
<soap:address location="http://localhost:8088/"/>
</port>
</service>
</definitions>